services:
  nginx:
    volumes:
      - ./nginx/conf.d/default-dev.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - nginx_logs:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"

volumes:
  nginx_logs:

networks:
  domotic-net:
    driver: bridge
